.transform {
    position: relative;
    transition: all 1s;

}

.transform-rotate:hover {
    transform: rotate(45deg);
    transform-origin: 0% 0%;

}

.transform-translate:hover {
    transform: translate(100px, 100px);
}


.transform-scale:hover {

    transform: scale(1.2);
    transform-origin: 0% 0%;
}

.center {

    width: 30%;
    height: 30%;
    position: absolute;
    z-index: 3;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.animate {
    
    height: 200px;
    background-color: darkkhaki;
    animation: resize 6s steps(6,start) 2s forwards;
/*
    animation-name: resize;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
*/
}

@keyframes resize {
    0% {
        width: 100%;
        transform: translateX(0);
    }
    50% {
        width: 50%;
        transform: translateX(200);
    }
    100% {
        width: 75%;
        transform: translateX(-300px);
    }
}